# Created by .ignore support plugin (hsz.mobi)

#environment directory
env

#secret file
*secrets.json*

#unnecessary file
.idea
.DS_Store

#migration etc file
*migrations*

#__pycache__ remove
*pycache*
*.pyc